@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

.logo {
  height: 48px;
  width: auto;
}

.nav-link {
  color: $white !important;
}

.react-icon {
  font-size: 24px;
  margin: 0 12px;
  vertical-align: middle;
}
