@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

.logo {
  span {
    position: unset !important;
  }

  img {
    height: 48px !important;
    position: relative !important;
    width: unset !important;
  }
}

.nav-link {
  color: $white !important;
}

.react-icon {
  font-size: 24px;
  margin: 0 12px;
  vertical-align: middle;
}
