---
import Layout from "../layouts/Layout.astro";
import Navbar from "../layouts/Navbar.astro";
---

<Layout title="Tokai Student Rocket Project">
    <Navbar />
    <a href="/posts/mytest/" target="_blank">ここにブログを挿入</a>
</Layout>

