---
---

<div>
  <ul class="mt-5">
    <li>
      <strong>東海大学学生ロケットプロジェクトとは?</strong>
      <br />
      手作りで低価格なロケット開発の場を学生に提供することで、学生が机上の勉学では学べない宇宙理工学の知識・技術を修得させ、将来の宇宙技術者を養成することを目的としているプロジェクトです。
      <br />
    </li>
    <li>
      <strong>設立時期は?</strong>
      <br />
      1995年に設立されました。
    </li>
    <li>
      <strong>活動内容は?</strong>
      <br />
      全長が2m程の小型ロケットの打上げ実験を行っています。実験に向けて、ロケットのボディだけでなく、搭載される電子機器、ロケットエンジンまで全てを学生が開発・運用しています。
    </li>
    <li>
      <strong>何を学べるの?</strong>
      <br />
      ロケットの設計・製作や各コンポーネントの実験を通して技術面での学びはもちろん、マネジメント力、メンバーとの協調性、コミュニケーション能力など、学生の社会性の育成も行っています。
    </li>
    <li>
      <strong>どんな人が活動しているの?</strong>
      <br />
      <a href="https://www.u-tokai.ac.jp/ud-engineering/dpt-aeronautics-and-astronautics-aerospace-course/" target="_blank">工学部 航空宇宙学科 航空宇宙学専攻</a>の学生が多いですが、
      <a href="https://www.u-tokai.ac.jp/ud-engineering/" target="_blank">工学部</a>、
      <a href="https://www.u-tokai.ac.jp/ud-science/" target="_blank">理学部</a>、
      <a href="https://www.u-tokai.ac.jp/ud-information-science-and-technology/" target="_blank">情報理工学部</a>、
      <a href="https://www.u-tokai.ac.jp/ud-architecture-and-urban-planning/" target="_blank">建築都市学部</a>の様々な学科の方が活動に参加しています。
    </li>
    <li>
      <strong>大学公認なの？</strong>
      <br />
      東海大学にあるスチューデントアチーブメントセンターに所属し、<a href="https://www.u-tokai.ac.jp/campus-life/challenge/project/" target="_blank">チャレンジプロジェクト</a>として支援を受けながら活動を行っています。
    </li>
    <li>
      <strong>何か書けるよ</strong>
      <br />
    </li>
    <li>
      <strong>Mark Down</strong>
      <br />
      <code>.md</code>でブログを書けるよ。
      <code>nannkaiikannjino_code.c</code>コードも書けるよ。
    </li>
    <li>リストの追加もできるよ。</li>
  </ul>
</div>
