---
---

<div>
  <p>何か書きたいことがあればここにもかけるよ。</p>
  <ul class="mt-5">
    <li>
      <strong>東海大学学生ロケットプロジェクトとは?</strong>
      <br />
      手作りで低価格なロケット開発の場を学生に提供することで、学生が机上の勉学では学べない宇宙理工学の知識・技術を修得させ、将来の宇宙技術者を養成することを目的としているプロジェクトです。
    </li>
    <li>
      <strong>設立時期は?</strong>
      <br />
      1995年に設立されました。
    </li>
    <li>
      <strong>何を学べるの?</strong>
      <br />
      ロケットの設計・製作や各コンポーネントの実験を通して技術面での学びはもちろん、マネジメント力、メンバーとの協調性、コミュニケーション能力など、学生の社会性の育成も行っています。
    </li>
    <li>
      <strong>活動内容は?</strong>
      <br />
      全長が2m程の小型ロケットの打上げを行っています。そのために、ロケットのボディだけでなく、搭載される電子機器、ロケットエンジンまで全てを学生が開発・運用しています。
    </li>
    <li>
      <strong>どんな人が活動しているの?</strong>
      <br />
      航空宇宙学科の学生が多いですが、工学部、理学部、情報理工学部の様々な学科の方が活動に参加しています。
    </li>
    <li>
      <strong>いろはに</strong>
      <br />
      ほへと
    </li>
    <li>
      <strong>あいう</strong>
      <br />
      えお
    </li>
    <li>
      <strong>Mark Down</strong>
      (<code>.md</code>)でかきたいなー
    </li>
    <li>a</li>
  </ul>
</div>
