---
import LogoTSRP from "../images/logo/logo-tsrp.png";
import LogoTwitter from "../images/logo/logo-twitter.svg";
import LogoInstagram from "../images/logo/logo-instagram.svg";
import LogoYoutube from "../images/logo/logo-youtube.svg";
---

<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand py-0" href="/">
      <img
        src={LogoTSRP}
        alt="logo-tsrp"
        height="48"
        class="d-inline-block align-text-top"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarContent"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <div class="navbar-nav ms-4">
        <a class="nav-link active" href="/">Project</a>
        <a class="nav-link active" href="/">Team</a>
        <a class="nav-link active" href="/">Rocket</a>
        <a class="nav-link active" href="/">Mission</a>
        <a class="nav-link active" href="/">News</a>
      </div>
      <div class="row g-2 me-5 ms-auto">
        <div class="col">
          <a
            href="https://twitter.com/Tokai_SRP"
            target="_brank"
            rel="noreferrer noopener"
          >
            <img src={LogoTwitter} alt="logo-twitter" height="32" />
          </a>
        </div>
        <div class="col">
          <a
            href="https://www.instagram.com/tokai_srp/"
            target="_brank"
            rel="noreferrer noopener"
          >
            <img src={LogoInstagram} alt="logo-instagram" height="32" />
          </a>
        </div>
        <div class="col">
          <a
            href="https://www.youtube.com/c/TokaiSRP"
            target="_brank"
            rel="noreferrer noopener"
          >
            <img src={LogoYoutube} alt="logo-youtube" height="32" />
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
