@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

.background-image {
  height: 100vh;
  position: relative;
  width: 100%;
}

.content-container {
  background: $dark;
  color: $white;
  position: relative;

  .images {
    span {
      position: unset !important;
    }

    img {
      height: unset !important;
      position: relative !important;
      width: 100% !important;
    }

    @include media-breakpoint-up(sm) {
      display: flex;

      span {
        width: calc(100vw / 3) !important;
      }
    }
  }
}
