@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

.gallery {
  span {
    position: unset !important;
  }

  img {
    height: unset !important;
    position: relative !important;
    width: 100% !important;
  }

  @include media-breakpoint-up(sm) {
    display: flex;

    span {
      width: calc(100% / 3) !important;
    }
  }
}
