---
import combusion810 from "./images/combusion_810.jpg";
---

<div class="columns is-gapless mb-0">
  <div class="column is-half has-background-black-ter">
    <div class="section is-medium has-text-white">
      <div class="content">
        <h3
          class="title is-2 has-text-white has-text-weight-normal"
          style={{ borderBottom: "1px solid", paddingBottom: "0.25em" }}
        >
          燃焼班
        </h3>
        <p>
          ハイブリッドロケットと呼ばれるロケットエンジンの開発を担当しています。エンジンの設計や固体燃料の研究を行い、より大型で高性能なエンジンの実現を追求しています。大学構内でロケットエンジンの動作テスト（燃焼実験）も行っています。また、ロケット発射台の保守と運用も行っています。ロケット発射台はTSRPの打ち上げのみならず他大学の打上げでも必要とされるため、他大学の打上げ作業でも大きく活躍しています。
        </p>
        <a href="/combustionteamintro/">
          <div class="buttons is-right">
          <button class="button is-outlined is-danger">
            <p>
              詳しくはこちら
            </p>
          </button>
        </div>
        </a>
      </div>
    </div>
  </div>
  <div class="column" style={{ position: "relative" }}>
    <img
      src={combusion810}
      style={{
        height: "100%",
        width: "100%",
        objectFit: "cover",
        position: "absolute",
      }}
    />
  </div>
</div>
