---
import rocketYasei from "./images/rocket_yasei.jpg";
---

<div class="columns is-gapless mb-0">
  <div class="column is-half">
    <img src={rocketYasei} style={{ height: "100%", objectFit: "cover" }} />
  </div>
  <div class="column has-background-black-ter">
    <div class="section is-medium has-text-white">
      <div class="content">
        <h2
          class="title is-1 has-text-white has-text-weight-normal"
          style={{ borderBottom: "1px solid", paddingBottom: "0.25em" }}
        >
          Contact Us
        </h2>
        <p class="is-size-5">
          〒259-1292<br />神奈川県平塚市北金目4-1-1<br />東海大学湘南校舎
          実験六棟 電気推進室
        </p>
        <ul>
          <li>
            小田急線小田原線「東海大学前」駅下車後、北門まで徒歩10分<br
            />北門から実験6棟 電気推進室まで徒歩10分
          </li>
          <li>
            神奈川中央交通バス停「平塚駅北口」からバス停「東海大学正門前」までバス30分<br
            />バス停「東海大学正門前」から実験6棟 電気推進室まで徒歩5分
          </li>
        </ul>
        <h3 class="is-size-5 has-text-white has-text-weight-normal">
          Mail Address
        </h3>
        <p class="is-size-5">
          tokai.srp☆gmail.com<br /><span class="is-size-7"
            >※スパムメール対策のため、お手数ですが上記アドレス欄の"☆"を@にしてご利用ください。</span
          >
        </p>
        <h3 class="is-size-5 has-text-white has-text-weight-normal">
          Gst Social
        </h3>
        <p class="is-size-5">
          Twitter : <a href="https://twitter.com/Tokai_SRP">@Tokai_SRP</a><br
          />Instagram : <a href="https://www.instagram.com/tokai_srp/"
            >@tokai_srp</a
          ><br /> Youtube : <a href="https://www.youtube.com/user/TokaiSRP"
            >@TokaiSRP</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
