---
import tas from "./images/TAS-F58.jpg";
import hakko from "./images/banner_fx971_j.png";
import yoshi from "./images/koujichuu.png";
---

<div class="columns is-gapless mb-0">
  <div class="column is-half">
    <img src={tas} style={{ height: "100%", objectFit: "cover" }} />
  </div>
  <div class="column has-background-warning-dark">
    <div class="section is-medium has-text-white">
      <div class="content">
        <h2
          class="title is-1 has-text-white has-text-weight-normal"
          style={{ borderBottom: "1px solid", paddingBottom: "0.25em" }}
        >
          どんなことをしているの？
        </h2>
        <p>
          計測制御班はマイコンと呼ばれる小さなコンピュータを用いてロケットの頭脳を開発しています。
          <br />
          この開発の過程には仕組みを考えるシステム設計から始まり、部品選定、電子回路設計、部品実装を通してプリント基板の制作、さらに任意のタイミングでアクチュエータを動作させたりセンサから値を読み出すためのプログラミングも行っています。
          <br />
          このほかにもロケットの打上げを地上から支援する設備の電装系開発も行っています。
          <br />
          計測制御班はロケット開発にどのように関わっているのかが分かりずらいですが、縁の下の力持ちのような存在となっています。
        </p>

        <br />
        <br />
        <br />
      </div>
    </div>
  </div>
</div>

<div class="columns is-gapless mb-0">
  <div class="column is-half">
    <img src={hakko} style={{ height: "100%", objectFit: "cover" }} />
  </div>
  <div class="column has-background-warning-dark">
    <div class="section is-medium has-text-white">
      <div class="content">
        <h2
          class="title is-1 has-text-white has-text-weight-normal"
          style={{ borderBottom: "1px solid", paddingBottom: "0.25em" }}
        >
          知識は必要なの？
        </h2>
        <p>
          マイコンや電子回路，プログラミングについての知識をもっていなくても大丈夫です。
          <br />
          必要な知識を学ぶ機会や手軽に始めることのできるマイコン を使ってコツコツと知識を積み重ねていきます。
          <br />
          学んでいくイメージはなにか一つのことの専門家になっていくように物事を進めていきます。
          <br />
          少しでも興味を持った時が一歩を踏み出すチャンスです。一緒にものづくりをしてみませんか？
        </p>
        <br />
        <br />
        <br />
      </div>
    </div>
  </div>
</div>

<div class="columns is-gapless mb-0">
  <div class="column is-half">
    <img src={yoshi} style={{ height: "100%", objectFit: "cover" }} />
  </div>
  <div class="column has-background-warning-dark">
    <div class="section is-medium has-text-white">
      <div class="content">
        <h2
          class="title is-1 has-text-white has-text-weight-normal"
          style={{ borderBottom: "1px solid", paddingBottom: "0.25em" }}
        >
          Webサイト工事中
        </h2>
        <p>Webサイト工事中 Webサイト工事中 Webサイト工事中</p>
        <br />
        <br />
        <br />
      </div>
    </div>
  </div>
</div>
