---
import launch_H49 from "./images/launch_H49.jpg";
---

<section
  class="hero is-fullheight"
  style={{
    backgroundImage: `linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url(${launch_H49})`,
    backgroundPosition: "center",
    backgroundSize: "cover",
  }}
>
  <div class="hero-body">
    <div class="container">
      <h1
        class="title has-text-white"
        style={{
          fontSize: "4em",
          letterSpacing: "0.05em",
          marginBottom: "128px",
        }}
      >
        Tokai<br />Student<br />Rocket<br />Project
      </h1>

      <p class="subtitle has-text-white">
        東海大学<br />スチューデントアチーブメントセンター
      </p>
      <p class="title has-text-white">学生ロケットプロジェクト</p>
    </div>
  </div>
</section>
