---
import activity from "./images/h57_launcher.jpg";
---

<div class="columns is-gapless mb-0">
  <div class="column is-half">
    <img src={activity} style={{ height: "100%", objectFit: "cover" }} />
  </div>
  <div class="column has-background-black-ter">
    <div class="section is-medium has-text-white">
      <div class="content">
        <h2
          class="title is-1 has-text-white has-text-weight-normal"
          style={{ borderBottom: "1px solid", paddingBottom: "0.25em" }}
        >
          活動内容
        </h2>
        <p>
          全長が2m程の小型ロケットを夏と冬の年に2回打上げています。ロケットのボディだけでなく、搭載される電装系、ロケットエンジンまで全て学生が開発しています。
          現在は40人程の学生が在籍しており、それぞれが燃焼班、構造機構班、計測制御班、広報班に分かれて分業制で開発をしています。航空宇宙学科の学生だけでなく工学部の様々な学科の学生が学部1年から修士1年まで幅広く在籍しています。
        </p>
        <br />

        <ul>
          <a href="/">
            <button class="button is-danger is-medium is-outlined is-fullwidth">
              <p>AAAAA</p>
            </button>
          </a>
        </ul>

        <ul>
          <a href="/">
            <button class="button is-info is-medium is-outlined is-fullwidth">
              <p>BBBBB</p>
            </button>
          </a>
        </ul>

        <ul>
          <a href="/">
            <button class="button is-warning is-medium is-outlined is-fullwidth">
              <p>CCCCC</p>
            </button>
          </a>
        </ul>

        <ul>
          <a href="/">
            <button class="button is-primary is-medium is-outlined is-fullwidth">
              <p>DDDDD</p>
            </button>
          </a>
        </ul>
      </div>
    </div>
  </div>
</div>
