---
import mechanicmParachute from "./images/mechanism_parachute.jpg";
---

<div class="columns is-gapless mb-0">
  <div class="column is-half has-background-black-ter">
    <div class="section is-medium has-text-white">
      <div class="content">
        <h3
          class="title is-2 has-text-white has-text-weight-normal"
          style={{ borderBottom: "1px solid", paddingBottom: "0.25em" }}
        >
          構造機構班
        </h3>
        <p>
          ロケットのボディなどの設計と製造を担当しています。ロケットは上昇後、上空でパラシュートを開傘して地上に軟着陸しますが、そのためのパラシュート放出機構も開発しています。ロケットに関する全ての設計は最終的に構造機構班のチーフデザイナーへ集約されます。
        </p>
        <a href="/mechanismteamintro/">
          <div class="buttons is-right">
            <button class="button is-outlined is-info">
              <p>詳しくはこちら</p>
            </button>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="column" style={{ position: "relative" }}>
    <img
      src={mechanicmParachute}
      style={{
        height: "100%",
        width: "100%",
        objectFit: "cover",
        position: "absolute",
      }}
    />
  </div>
</div>
