---
import yoshi from "./images/koujichuu.png";
---

<div class="columns is-gapless mb-0">
  <div class="column is-half">
    <img src={yoshi} style={{ height: "100%", objectFit: "cover" }} />
  </div>
  <div class="column has-background-info-dark">
    <div class="section is-medium has-text-white">
      <div class="content">
        <h2
          class="title is-1 has-text-white has-text-weight-normal"
          style={{ borderBottom: "1px solid", paddingBottom: "0.25em" }}
        >
          どんなことをしているの？
        </h2>
        <p>工事中 工事中 工事中</p>
        <br />
        <br />

        <br />
      </div>
    </div>
  </div>
</div>

<div class="columns is-gapless mb-0">
  <div class="column is-half">
    <img src={yoshi} style={{ height: "100%", objectFit: "cover" }} />
  </div>
  <div class="column has-background-info-dark">
    <div class="section is-medium has-text-white">
      <div class="content">
        <h2
          class="title is-1 has-text-white has-text-weight-normal"
          style={{ borderBottom: "1px solid", paddingBottom: "0.25em" }}
        >
          知識は必要なの？
        </h2>
        <p>工事中 工事中 工事中</p>
        <br />
        <br />
        <br />
      </div>
    </div>
  </div>
</div>

<div class="columns is-gapless mb-0">
  <div class="column is-half">
    <img src={yoshi} style={{ height: "100%", objectFit: "cover" }} />
  </div>
  <div class="column has-background-info-dark">
    <div class="section is-medium has-text-white">
      <div class="content">
        <h2
          class="title is-1 has-text-white has-text-weight-normal"
          style={{ borderBottom: "1px solid", paddingBottom: "0.25em" }}
        >
          Webサイト工事中
        </h2>
        <p>Webサイト工事中 Webサイト工事中 Webサイト工事中</p>
        <br />
        <br />
        <br />
      </div>
    </div>
  </div>
</div>
