---
import flyingH49 from "./images/flying_H49.jpg";
---

<section
  class="hero is-fullheight"
  style={{
    backgroundImage: `url(${flyingH49})`,
    backgroundPosition: "center",
    backgroundSize: "cover",
  }}
>
  <div class="hero-body">
    <div class="container">
      <h2
        class="title is-1 has-text-white has-text-weight-normal"
        style={{ borderBottom: "1px solid", paddingBottom: "0.25em" }}
      >
        Our Rockets
      </h2>
      <div class="columns has-text-white has-text-centered">
        <div class="column m-5 py-6" style={{ border: "1px solid" }}>
          <p class="is-size-3 mb-3">Hybrid Rocket</p>
          <p>type</p>
        </div>
        <div class="column m-5 py-6" style={{ border: "1px solid" }}>
          <p class="is-size-3 mb-3">2-3m</p>
          <p>length</p>
        </div>
        <div class="column m-5 py-6" style={{ border: "1px solid" }}>
          <p class="is-size-3 mb-3">200m-2.4km</p>
          <p>altitude</p>
        </div>
        <div class="column m-5 py-6" style={{ border: "1px solid" }}>
          <p class="is-size-3 mb-3">H-58</p>
          <p>next mission</p>
        </div>
      </div>
    </div>
  </div>
</section>
