---
import mechanicmParachute from "./images/mechanism_parachute.jpg";
---

<div class="columns is-gapless mb-0">
  <div class="column is-half has-background-black-ter">
    <div class="section is-medium has-text-white">
      <div class="content">
        <h3
          class="title is-2 has-text-white has-text-weight-normal"
          style={{ borderBottom: "1px solid", paddingBottom: "0.25em" }}
        >
          広報班
        </h3>
        <p>
            TSRPの広報担当をしています。広報活動は周囲からの信頼を得るために必要不可欠な活動となっています。
        </p>
        <a href="/mechanismteamintro/">
          <div class="buttons is-right">
            <button class="button is-outlined is-primary">
              <p>詳しくはこちら</p>
            </button>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="column" style={{ position: "relative" }}>
    <img
      src={mechanicmParachute}
      style={{
        height: "100%",
        width: "100%",
        objectFit: "cover",
        position: "absolute",
      }}
    />
  </div>
</div>
