---
import logo_sac from "./images/logo_sac.png";
---

<div class="columns is-gapless mb-0">
  <div class="column is-half">
    <img src={logo_sac} style={{ height: "100%", objectFit: "cover" }} />
  </div>
  <div class="column has-background-black-ter">
    <div class="section is-medium has-text-white">
      <div class="content">
        <h2
          class="title is-1 has-text-white has-text-weight-normal"
          style={{ borderBottom: "1px solid", paddingBottom: "0.25em" }}
        >
          スチューデント<br />アチーブメントセンター
        </h2>
        <p>
          TSRPはスチューデントアチーブメントセンターに所属している東海大学公認のプロジェクトです。
          <br/>
          これからチャレンジプロジェクトと呼ばれ、東海大学には特色のあるプロジェクトが日々活動しています。
          <br />
          スチューデントアチーブメントセンターはチャレンジプロジェクトの支援を行っており、TSRPも毎年多くの支援を頂きながら活動を進めています。
        </p>

        <br />
        <br />
        <br />
        <a href="https://www.u-tokai.ac.jp/campus-life/challenge/">
          <button class="button is-danger is-medium is-fullwidth">
            <p>プロジェクト活動についてはこちらから！
            </p>
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
