---
import matsumae from "./images/matsumae.jpg";
---

<div class="columns is-gapless mb-0">
  <div class="column is-half">
    <img src={matsumae} style={{ height: "100%", objectFit: "cover" }} />
  </div>
  <div class="column has-background-black-ter">
    <div class="section is-medium has-text-white">
      <div class="content">
        <h2
          class="title is-1 has-text-white has-text-weight-normal"
          style={{ borderBottom: "1px solid", paddingBottom: "0.25em" }}
        >
          Who We Are
        </h2>
        <p>
          TSRPは手作りで低価格なロケット開発の場を学生に提供することで、学生が机上の勉学では学べない、宇宙理工学の知識・技術を習得させ、将来の宇宙技術者を養成することを目的として1995年に設立されました。ロケットの設計・製作、搭載計器の動作試験、実験から得られたデータ解析など多岐に渡るロケットミッションの活動を通じて、技術面の向上だけではなく、マネジメント力、メンバーとの協調性、コミュニケーション能力など、学生の社会性の育成も目的としています。
        </p>
      </div>
      <div class="content">
        <h3
          class="title is-3 has-text-white has-text-weight-light has-text-centered"
        >
          Learn More
        </h3>
        <div class="columns mx-6">
          <div class="column is-centered">
            <figure class="image is-128x128 mx-auto mb-2">
              <img src="https://placehold.jp/128x128.png" />
            </figure>
            <p class="is-size-5 has-text-weight-light has-text-centered">
              Space<br />Engineering
            </p>
          </div>
          <div class="column">
            <figure class="image is-128x128 mx-auto mb-2">
              <img src="https://placehold.jp/128x128.png" />
            </figure>
            <p class="is-size-5 has-text-weight-light has-text-centered">
              Technology
            </p>
          </div>
          <div class="column">
            <figure class="image is-128x128 mx-auto mb-2">
              <img src="https://placehold.jp/128x128.png" />
            </figure>
            <p class="is-size-5 has-text-weight-light has-text-centered">
              Sociality and<br />Cooperativeness
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
